@import "reset.css";
@import "common.css";

/* section */
section {
  width: 85%;
  margin: 50px auto;
}

.title {
  font-weight: 700;
  font-size: 25px;
}

table {
  text-align: center;
  font-size: 16px;
  word-break: keep-all;
}

.table-title {
  text-align: left;
  cursor: pointer;
}

.pagination-sm > li > a {
  background-color: white;
  color: rgb(228, 148, 0);
}

.pagination-sm > li > a:focus,
.pagination-sm > li > a:hover,
.pagination-sm > li > span:focus,
.pagination-sm > li > span:hover {
  color: rgb(228, 148, 0);
  background-color: #fff;
  border-color: rgb(228, 148, 0);
}

.pagination-sm > .active > a:hover {
  background-color: rgb(228, 148, 0);
  border: solid 1px rgb(228, 148, 0);
}

/* bootstrap 기본 색상 때문에 부득이하게 !important 사용 */
.pagination-sm li.active a {
  border-color: rgb(228, 148, 0) !important;
  background: rgb(228, 148, 0) !important;
}
