@import "reset.css";
@import "common.css";
/* header */
.header-top-nav > a:hover {
  padding-bottom: 15px;
}

/* section */
.section-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
section {
  width: 530px;
  padding: 50px;
}

.title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.check-btn {
  word-break: keep-all;
}

.custom-select {
  cursor: pointer;
}

label {
  font-size: 16px;
}
